
<mat-toolbar  class="nav-bar  green-toolbar">
    <div class="brand-section" routerLink="/">
        <img src="/images/logo.png" alt="Logo" class="custom-logo">
        <span class="brand-name">Plantdisease</span>
    </div>

    <nav>
        <a routerLink="/about">Qui sommes-nous ?</a>
        
    </nav>

    <div  style="display: flex; gap: 10px;">
        <button mat-raised-button style="background: #37b833;; color:white;" routerLink="/register">Inscription</button>
        <button mat-raised-button  style="background:white; color:#000;" routerLink="/login">Connexion</button>
    </div>

</mat-toolbar>