<mat-card class="plant-card">
  <mat-card-header>
    <mat-card-title>Detection maladie Plante</mat-card-title>
  </mat-card-header>

  <img mat-card-image src="/images/card-plante.jpg" alt="Exemple de plante">

  <mat-card-content>
    <p>
      Utilisez notre outil basé sur le Deep Learning pour identifier 
      instantanément les maladies de vos cultures.
    </p>
  </mat-card-content>

  <mat-card-actions align="end">
    
      <button mat-raised-button  color="primary"  routerLink="/detection">Test RestNet </button>
    
  </mat-card-actions>
</mat-card>