<mat-sidenav-container class="dashboard-container">

  <mat-sidenav mode="side" opened class="sidebar">
    <div class="sidebar-header">
      <mat-icon class="logo-icon">eco</mat-icon>
      <h2>Plantdisease</h2>
    </div>
    
    <nav class="menu-list">     
      <a routerLink="/agriculteur/resume-global" class="menu-item" routerLinkActive="active-link">
        <mat-icon>dashboard</mat-icon>
        <span>Résumé Global</span>
      </a>

      <a routerLink="/agriculteur/detect" class="menu-item" routerLinkActive="active-link">
        <mat-icon>image_search</mat-icon>
        <span>Détection Maladie</span>
      </a>

      <a routerLink="/agriculteur/segmentation" class="menu-item" routerLinkActive="active-link">
        <mat-icon>grid_view</mat-icon> 
        <span>Localisation Maladie</span>
      </a>

    </nav>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>